@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Sawarabi+Mincho&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.body {
  background-color: #000000;
  width: 100%;
  height: 500vh;
  position: relative;
  top: 0;
}

/*loading*/

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(219, 219, 219);
  position: relative;
  color: rgb(0, 0, 0);
  transition: 2s ease;
  position: fixed;
  z-index: 999;
  top: 0;
  overflow: hidden;
}



.loadingomae {
  animation: omaeguruguru 2s ease infinite;
}

@keyframes omaeguruguru {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0);
  }
}

.texts {
  position: absolute;
  display: flex;
  top: 290px;
  justify-content: center;
}

.loadingtext{
  /* bottom: 200px; */
  position: absolute;
  font-size: 2.5rem;
}


.tenten {
  position:relative;
  font-size: 2.5rem;
  right: -100px;
  animation: ten 3s linear infinite;
}

.tenten1 {
  animation-delay: 1s;
}
.tenten2 {
  animation-delay: 2s;
}
.tenten3 {
  animation-delay: 3s;
}

@keyframes ten {
  0% {
    opacity: .2;
  }
  50% {
    transform: translateY(-5px)
  }
  100% {
    opacity: .6;
  }
}


.fade-out {
  opacity: 0;
  transform: translateY(-20px); /* 上に移動 */
  z-index: -1;
}

/*-----------*/

/*bar*/

.barContainer {
  top: 0;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 200;
  border-bottom: 1px solid #efefef9b;
  background: #6c6c6c51;
  backdrop-filter: blur(10px);
}

.barContainer .bar {
  width: 100%;
  height: 100%;
  justify-content: center;
  top: 25px;
  display: flex;
  position: absolute;
}

.barContainer .bar ul {
  display: flex;
  gap: 20px;
}

.barContainer .bar ul li {
  list-style: none;
  position: relative;
}

.underbar {
  width: 0;
  height: 1.4px;
  position: absolute;
  background-color: rgba(209, 209, 209, 0.58);
  transition: .3s ease;
}

.barContainer .bar ul li a {
  text-decoration: none;
  color: rgba(206, 206, 206, 0.62);
  font-size: 1.5rem;
}

.hovered {
  width: 100%;
}

@media screen and (max-width:1000px) {
  .barContainer {
    top: 0;
    left: -50%;
    position: fixed;
    width: 40%;
    height: 100vh;
    z-index: 21;
    border-bottom: 1px solid #efefef9b;
    background: #6c6c6c51;
    backdrop-filter: blur(10px);
    transition: .4s ease;
    border-right: 1px solid rgba(255, 255, 255, 0.329);
    box-shadow: 10px 0 60px rgba(0, 0, 0, 0.627);
  }
  
  .barContainer .bar {
    width: 100%;
    height: 100%;
    justify-content: center;
    top: 60px;
    display: flex;
    position: absolute;
  }
  
  .barContainer .bar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 10px;
    position: absolute;
  }

  .barContainer .bar ul li a {
    display: block;
    transition: .3s ease;
    color: rgba(255, 255, 255, 0.663);
  }

  .barContainer .bar ul li a:hover {
    color: #949494;
    transform: scale(1.1);
  }

  .barContainer .bar ul li:nth-child(5){
    top: 50vh;
  }

  .clicked.barContainer {
    left: 0;
  }

  .btn {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 17px;
    /* right: 12px; */
    left: 40px;
    z-index: 900;
  }

  .btn .bb {
    width: 40px;
    height: 4px;
    z-index: 900;
    background-color: rgb(173, 173, 173);
    position: absolute;
    transition: .4s ease;
    transform: translate(-50%, -50%);
  }

  .btn .bb:nth-child(1) {
    top: 5px;
    position: relative;
  }
  .btn .bb:nth-child(2) {
    top: 20px
  }
  .btn .bb:nth-child(3) {
    top: 35px;
  }

  .clicked.btn .bb:nth-child(1) {
    transform: translateY(12px) translateX(-20px) rotate(45deg);
  }
  .clicked.btn .bb:nth-child(2) {
    transform: translateX(-100px);
  }
  .clicked.btn .bb:nth-child(3) {
    transform: translateY(-18px)  translateX(-20px)  rotate(-45deg);
  }

  .settingsClicked.btn .bb:nth-child(1) {
    transform: translateY(20px) translateX(-26px) rotate(35deg);
    width: 29px;
  }
  .settingsClicked.btn .bb:nth-child(2) {
    transform: translateX(-19px) translateY(-2px);
  }
  .settingsClicked.btn .bb:nth-child(3) {
    transform: translateY(-24px)  translateX(-26px)  rotate(-35deg);
    width: 29px;
  }

  .clickedColor.btn {
    display: none;
  }

  .mask {
    width: 100%;
    height: 100vh;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    background: #85858548;
    backdrop-filter: blur(7px);
  }

  .clicked.mask {
    display: none;
  }

  .topbar {
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.878);
    position: absolute;
    z-index: 11;
    border-bottom: 1px solid #c1c1c139;
    position: fixed;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.412);
    transition: all .3s ease;
  }

  .PavedTopbar.topbar {
    animation: pave 8s ease;
    transition: 2s ease;
  }

  @keyframes pave {

    0% {
      background-color: rgba(0, 0, 0, 0.878);
    }
    10% {
      background-color: #3e3e3e;
    }
    90% {
      background-color: #3e3e3e;
    }
    100% {
      background-color: #000;
    }
  }
  .title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 15;
  }
  .GATIOMAE {
    color: white;
    position: absolute;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .PavedTopbar.GATIOMAE {
    opacity: 0;
    transition: .3s ease;
  }

  .text {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    text-wrap: nowrap;
  }

  .text1 {
    position: absolute;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
  }

  .text2 {
    letter-spacing: 20px;
    font-size: 100px;
  }

  .hidden.text1 {
    letter-spacing: 20px;
    transition: .3s ease;
  }

  .hidden.text {
    opacity: 0;
  }
  .visible.text {
    opacity: 1;
  }

  .icons {
    display: flex;
  }


}

/*----------*/



/*page1*/


.topbar .fig {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  object-fit: cover;
  margin: 13px;
}


.topbar .blue {
  right: 100px;
  top: -120px;
}

.topbar .black  {
  right: -150px;
  top: -120px;
}

.topbar .white {
  right: 100px;
  top: -120px;
}

.car {
  top: 0;
  position: absolute;
  z-index: 998;
  opacity: 0;
}

.topbar .figClicked.fig {
  animation: fig 8s ease;
}

.topbar .fig2Clicked.car {
  animation: fig2 8s ease;
}

@keyframes fig {
  0% {
    transform: translateX(0) rotate(-9deg);
  }
  10% {
    transform: translateX(-30px)  rotate(9deg);
  }
  20% {
    transform: translateX(-60px) rotate(-9deg);
  }
  30% {
    transform: translateX(-90px)  rotate(9deg);
  }
  40% {
    transform: translateX(-120px) rotate(-9deg);
  }
  50% {
    transform: translateX(-150px)  rotate(9deg);
  }
  75% {
    transform: translateX(50px) rotate(-9deg);
  }

  100% {
    transform: translateX(-2000px);
  }
}

@keyframes fig2 {
  0% {
    transform: translate(0);
  }

  70% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-2000px);
  }
}


.sti {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: 0;
  top: -100px;
  position: relative;
}


.videomask {
  width: 100%;
  height: 410px;
  position: absolute;
  /* background: rgba(0, 0, 0, 0.612); */
  top: 0;
  z-index: 5;
  backdrop-filter: blur(10px);
  -webkit-box-shadow: inset 0px 0px 45px 28px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 45px 28px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 45px 28px rgba(0,0,0,0.75);
}


/*----------*/


/*page2*/

.page2 {
  top: 100vh;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #cbcbcb;
}
/*----------*/
.toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 55px;
  height: 55px;
  border: 4px solid rgba(255, 255, 255, 0.356);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff24;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
  z-index: 999;
}

.arrow {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

.chat {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 48px;
  left: 20px;
  z-index: 10;
  transition: .3s ease;

}

.chat:hover {
  transform: scale(1.1) rotate(3deg);
}

.OmaeProfile {
  top: 1000px;
  position: fixed;
  opacity: 0;
}

.profileClicked.OmaeProfile {
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: rgb(154,165,255);
  background: linear-gradient(187deg, rgba(154,165,255,1) 0%, rgba(0,209,255,1) 29%, rgba(255,255,255,1) 100%);
  position: fixed;
  top: 0;
  transition: .5s ease;
  opacity: 1;
}

.backArrow {
  color: white;
  font-size: 3.5rem;
}

.profileContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.profileContent {
  width: 300px;
  height: 500px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  background-color: #93a1b047;
  backdrop-filter: blur(10px);
}

.settingsContainer {
  left: -300px;
}

.clickedSettings.settingsContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #6c6c6c51;
  backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.329);
  box-shadow: 10px 0 60px rgba(0, 0, 0, 0.627);
  z-index: 21;
  transition: .4s ease;
  
}

.settingsContainer .settingsContent{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settingsContainer .settingsContent ul li {
  display: none;
}

.clickedSettings.settingsContainer .settingsContent ul li {
  display: block;
  transition: .3s ease;
}

.clickedSettings.settingsContainer .settingsContent ul li a{
  z-index: 999;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.663);
  display: block;
  text-decoration: none;
  font-size: 4rem;
  transition: .3s ease;
}
.clickedSettings.settingsContainer .settingsContent ul li a:focus {
  transform: scale(1.1);
}


.clickedSettings.settingsContent {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  position: absolute;
  top: 0;

}

.clickedSettings.settingsArrow {
  color: white;
  font-size: 3.7rem;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  position: absolute;
}

.underbarSettings {
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.627);
  transition: .3s ease;
}

.barClicked.underbarSettings {
  width: 100%;
}



/*----------*/

/* .colorContainer {
  width: 100%;
  height: 100vh;
  right: -1000px;
  position: fixed;
  top: 0;
  z-index: -1;
  transition: .3s ease;
  z-index: 999;
} */

.colorContainer {
  right: -1000px;
  transition: .3s ease;
  width: 100%;
  height: 100vh;
  /* z-index: 999; */
}

.clickedColor.colorContainer {
  justify-self: center;
  align-items: center;
  display: flex;
  /* background-color: red; */
  /* z-index: 999; */
  right: 0;
  position: fixed;
}

.colorText {
  transition: .3s ease;
  top: 0;
  position: relative;
}

.clickedColor.colorText {
  font-size: 2rem !important;
  top: -200px;
  position: relative;
  color: #ffffff !important;
}

.clickedColor.colorText2 {
  display: none !important;
  visibility: hidden;
}

.colors {
  display: none;

}

.text{
  transform: scale(1);
}

.clickedColor.colors {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;

}
.clickedColor.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .2s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.689);
}

.color:nth-child(1) {
  background-color: rgb(248, 104, 104);
}
.color:nth-child(2) {
  background-color: rgb(51, 151, 238);
}
.color:nth-child(3) {
  background-color: rgb(249, 230, 123);
}
.color:nth-child(4) {
  background-color: rgb(167, 255, 168);
}
.color:nth-child(5) {
  background-color: rgb(229, 151, 245);
}

.color:hover {
  transform: scale(1.8);
  opacity: 0.8;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.329);
}


.btns {
  /* width: 100%; */
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  bottom: -100px;
  left: -100px;

}

.menu {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .toggle {
  position: absolute;
  width: 55px;
  height: 55px;
  color:  rgb(213, 240, 255);
  border: 4px solid  rgba(213, 240, 255, 0.658);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: #b8dcff35;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 10px #02102563;
}

.active.menu .toggle {
  transform: rotate(315deg);
  background: rgb(213, 240, 255);
  color: #fff;
  position: absolute;
  left: 170px;
  transition: .5s ease;
  box-shadow: none;
}

.menu li {
  position: absolute;
  list-style: none;
  transform-origin: 140px;
  border: 2px solid rgb(213, 240, 255);
  left: 10px;  /* 円の中心に配置 */
  transform: rotate(calc(45deg * var(--i)))
  translateX(40px);
  z-index: 10;
  border-radius: 50%;
  pointer-events: none;
  transition: .5s ease;
  scale: 0;
  transition-delay: calc(.1s * var(--i));
  background-color:  #b8dcff35;
  backdrop-filter: blur(10px);
}

.active.menu li {
  scale: 1;
  pointer-events: initial;
  left: 60px;
  transition: .5s ease;
  box-shadow: 4px 0px 10px #00395a64;
}
 
.menu li a {
  color: rgb(213, 240, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 1.75em;
  transition: 0.5s;
  transform: rotate(calc(225deg / -5 * var(--i)));
  border-radius: 50%;
  transition: .5s ease;
}

.menu li a:hover{
  background-color:  rgb(213, 240, 255);
  color: #fff;
  border: none;
}

.tiktokpage {
  visibility: hidden;
  width: 100%;
  height: 270vh;
  top: -70%;
  top: 1000px;
}

.activetiktok.tiktokpage {
  background: rgb(255,255,255);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 20%,black 30%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%);
  position: absolute;
  z-index: 999;
  overflow: hidden;
  visibility: visible;
  top: -450px;
  transition: .3s ease;
}

.fuyofuyo {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 100px;
}

.fuyofuyo .img img {
  width: 100%;
  position: relative;
  transition: .3s ease;
  transform: translateY(100px);
  z-index: 800;
}

.fuyofuyo .img:nth-child(1) img{
  top: 100px;
  transform: translateY(-150px) !important;
}
.fuyofuyo .img:nth-child(2) img {
  transform: translateY(-70px) !important;
}
.fuyofuyo .img:nth-child(3) img{
  transform: translateY(-50px) !important;
}
.fuyofuyo .img:nth-child(4) img {
  transform: translateY(200px) !important;

}


.img1,
.img2,
.img3,
.img4 {
  width: 100%;
  height: 100vh;
  position: absolute;
}


.backArrow2 {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 3rem;
  z-index: 999;
}

.backArrow3 {
  position: fixed;
  top: 9px;
  left: 10px;
  font-size: 2.9rem;
  z-index: 999;
  color: white;
}

.moviesCon {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  overflow: hidden;
  top: 100px;
  z-index: 998;
}

.section1 

.movies {
  /* width: 100%; */
  /* height: 100vh; */
  position: absolute;
  /* overflow: hidden; */
  top: 550px;
  /* display: flex; */
  justify-content: center;
}



.movies video:nth-child(1) {
  width: 200px;
  top: 100px;
  position: relative;
  transform: rotate(-10deg);
  border-radius: 30px;
}
.movies video:nth-child(2) {
  width: 200px;
  top: 200px;
  position: relative;
  border-radius: 30px;
  left: 20px;
  transform: rotate(10deg);
}
.movies video:nth-child(3) {
  width: 200px;
  top: 100px;
  position: relative;
  border-radius: 30px;
  transform: rotate(-20deg);
}
.movies video:nth-child(4) {
  width: 200px;
  top: 200px;
  position: relative;
  border-radius: 30px;
  transform: rotate(20deg);
  
}

.texts {
  width: 100%;
  height: 30%;
}

.texts .tikText1 {
  color: white;
  z-index: 700;
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  transition: .3s ease;
}

.texts .tikText {
  color: rgb(232, 232, 232);
  font-family: "Sawarabi Mincho", serif;
  font-weight: 1000;
  font-style: normal;
  transition: .3s ease
}

.tikTextomae1 {

}
.tikTextomae2 {

}
.tikTextomae3 {

}
.tikTextomae4 {

}

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Sawarabi+Mincho&display=swap');

.texts .omae {
  position: absolute;
  display: flex;
  overflow: hidden;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  left: 0;

}

.omatik {
  /* z-index: 800; */
  width: 100%;
  height: 600px;
  position: absolute;
  overflow: hidden;
}

.omatik img {
  width: 100%;
  height: 100%;
  bottom: 0;
  object-fit: cover;
}

.otokotext {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -700px;
}

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Sawarabi+Mincho&display=swap');
.otoko {
  font-size: 28rem;
  color: rgb(39, 97, 147);
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  top: 140px;
  left: 100px;
  position: relative;
  /* opacity: .7; */
  z-index: -1;

}

.tiktoklifeCon {
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.tiktoklife1,
.tiktoklife2 {
  color: rgb(232, 232, 232);
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  top: 230px;
  font-size: 4.3rem;
  
}

.tiktoklife1 {
  color: #ffe2e2;
  height: 100px;
  background-color: rgb(210, 74, 74);
  border-radius: 20px;
  margin: 0;
}

.video {
  box-shadow: 0 10px 15px rgba(255, 255, 255, 0.244);
}

.shinsakuCon {
  color: white;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 230vh;
  /* z-index: 999; */
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.shinsaku {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.Coming {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.page1Content {
  height: 100vh;
  /* background-color: red; */
  /* border: 1px solid red; */
  z-index: 9;
  width: 100%;
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
}

.heatsOmaeCon {
  width: 100%;
  height: 400vh;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.heartsOmae {
  height: 100vh;
  width: 400px;
  /* overflow: hidden; */
  position: absolute;
  top: 200vh;
  display: flex;
  justify-content: center;
  z-index: 500;
}

.heartsOmae img {
  top: 100px;
}

.heartsOmae img:nth-child(1) {
  width: 250px;
  height: 140px;
  position: relative;
  /* transform: rotate(60deg); */
}
.heartsOmae img:nth-child(2) {
  width: 250px;
  height: 140px;
  position: relative;
  /* transform: rotate(-60deg); */

}

.pinkBack {
  min-height: 200vh;
  width: 100%;
  top: -100px;
  position: absolute;
  z-index: -9;
  
}

.pink {
  transition: .5s ease;
  background: none;
  opacity: 0;
}



.changedPink.topbar {
  background-color: #8f2b83f3;
  box-shadow: 0 10px 20px #501242;
  backdrop-filter: blur(5px);
}

.changedPink.text {
  color: #f6c7ff;
}

.pink {
  width: 100%;
  min-height: 100%;
  background-color: #ffa7ef;
  position: absolute;
  opacity: 1;
}


.omae20 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.omae20 img:nth-child(1) {
  /* z-index: 999; */
  position: relative;
  width: 200px;
  height: 400px;
}
.omae20 img:nth-child(2)  {
  /* z-index: 999; */
  position: relative;
  width: 150px;
  height: 300px;
  top: 50px;
}

.hapiba {
  /* border: 1px solid red; */
  overflow: hidden;
  transition: .3s ease;
  width: 100%;
}

.hapibaTexts div {
  color: rgb(206, 63, 63);
  font-size: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: .3s ease;
  overflow: hidden;
  width: 100%;
}

.hapibaTexts div:nth-child(1) {
  font-size: 4rem;
  top: 50px;

}
.hapibaTexts div:nth-child(3) {
  top: -50px;


}
.hapibaTexts div:nth-child(4) {
  top: -50px;
}

.flyingCon {
  width: 100%;
  overflow: hidden;
}

.flyingCon video:nth-child(1){
  width: 100px;
  
}

.ScrollBigCon {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.ScrollyCon {
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 200vh;
  z-index: 999;
}

