@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Sawarabi+Mincho&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.body {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}

/*loading*/

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(32, 46, 67);
  position: relative;
  color: rgb(157, 160, 201);
  transition: 2s ease;
  position: absolute;
  z-index: 999;
  top: 0;
  overflow: hidden;
}



.loadingomae {
  animation: omaeguruguru 2s ease infinite;
}

@keyframes omaeguruguru {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0);
  }
}

.texts {
  position: absolute;
  display: flex;
  top: 290px;
  justify-content: center;
}

.loadingtext{
  /* bottom: 200px; */
  position: absolute;
  font-size: 2.5rem;
}


.tenten {
  position:relative;
  font-size: 2.5rem;
  right: -100px;
  animation: ten 3s linear infinite;
}

.tenten1 {
  animation-delay: 1s;
}
.tenten2 {
  animation-delay: 2s;
}
.tenten3 {
  animation-delay: 3s;
}

@keyframes ten {
  0% {
    opacity: .2;
  }
  50% {
    transform: translateY(-5px)
  }
  100% {
    opacity: .6;
  }
}


.fade-out {
  opacity: 0;
  transform: translateY(-20px); /* 上に移動 */
  z-index: -1;
}

/*-----------*/

/*bar*/

.barContainer {
  top: 0;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1;
  border-bottom: 1px solid #efefef9b;
  background: #6c6c6c51;
  backdrop-filter: blur(10px);
}

.barContainer .bar {
  width: 100%;
  height: 100%;
  justify-content: center;
  top: 25px;
  display: flex;
  position: absolute;
}

.barContainer .bar ul {
  display: flex;
  gap: 20px;
}

.barContainer .bar ul li {
  list-style: none;
  position: relative;
}

.underbar {
  width: 0;
  height: 1.4px;
  position: absolute;
  background-color: rgba(209, 209, 209, 0.58);
  transition: .3s ease;
}

.barContainer .bar ul li a {
  text-decoration: none;
  color: rgba(206, 206, 206, 0.62);
  font-size: 1.5rem;
}

.hovered {
  width: 100%;
}

@media screen and (max-width:1000px) {
  .barContainer {
    top: 0;
    left: -50%;
    position: fixed;
    width: 40%;
    height: 100vh;
    z-index: 10;
    border-bottom: 1px solid #efefef9b;
    background: #6c6c6c51;
    backdrop-filter: blur(10px);
    transition: .6s ease;
    border-right: 1px solid rgba(255, 255, 255, 0.329);
  }
  
  .barContainer .bar {
    width: 100%;
    height: 100%;
    justify-content: center;
    top: 60px;
    display: flex;
    position: absolute;
  }
  
  .barContainer .bar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 10px;
    position: absolute;
  }

  .clicked.barContainer {
    left: 0;
  }

  .btn {
    width: 40px;
    height: 25px;
    position: fixed;
    top: 17px;
    /* right: 12px; */
    left: 40px;
    z-index: 999;
  }

  .btn .bb {
    width: 40px;
    height: 4px;
    z-index: 999;
    background-color: rgb(173, 173, 173);
    position: absolute;
    transition: .6s ease;
    transform: translate(-50%, -50%);
  }

  .btn .bb:nth-child(1) {
    top: 15px;
    position: relative;
  }
  .btn .bb:nth-child(2) {
    top: 20px
  }
  .btn .bb:nth-child(1) {
    top: 35px;
  }

  .clicked.btn .bb:nth-child(1) {
    top: -8px;
    transform-origin: 50%;
    transform: translateY(20px) translateX(-15px) rotate(-45deg);
  }
  .clicked.btn .bb:nth-child(2) {
    top: 14px;
    transform: translateX(-100px);
    opacity: 0;
  }
  .clicked.btn .bb:nth-child(3) {
    top: 32px;
    transform: translateY(-20px) translateX(-15px) rotate(45deg);
  }

  .mask {
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: #85858548;
    backdrop-filter: blur(7px);
  }

  .clicked.mask {
    display: none;
  }

  .topbar {
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.878);
    position: absolute;
    z-index: 9;
    border-bottom: 1px solid #c1c1c139;
    position: fixed;
  }
}

/*----------*/



/*page1*/




.sti {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: 0;
}

.videomask {
  width: 100%;
  height: 410px;
  position: absolute;
  /* background: rgba(0, 0, 0, 0.612); */
  top: 0;
  z-index: 9;
  backdrop-filter: blur(10px);
  -webkit-box-shadow: inset 0px 0px 45px 28px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 45px 28px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 45px 28px rgba(0,0,0,0.75);
}

/*----------*/